<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Projects</title>
    </head>
    <body>
        <!-- Header -->
        {{> header}}

        <p>Welcome to the projects page</p>

        <!-- Footer -->
        {{> footer}}
    </body>
</html>